body {
    font: 400 14px 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #557A95;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.2;
    text-shadow: 0px 1px 0px;
}

main {
    opacity: 0;
}
main.fade-in {
    transition: opacity, 3s;
    opacity: 1;
}