.check {
    transition: color .5s;
}

.check:hover {
    color: $success;
    cursor: pointer;
}

.upload {
    transition: color .5s;
    color: $secondary;
}

.upload:hover {
    color: $primary;
    cursor: pointer;
}