.form-control {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    border-bottom-color: #7395AE;
    transition: border-bottom-width .5s;
    background: transparent;
}

.form-control:focus {
    border-bottom-width: 3px;
    box-shadow: none;
    background: transparent;
}

.card .form-control {
    border: none;
    transition: none;
}